	.object-fit_contain { object-fit: contain }

	@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

	/* ADDING EXTRA FONTS
	@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

	@font-face {
	    font-family: "BigHero";
	    src: url("../fonts/bighero.ttf");
	}

	@font-face {
	    font-family: "BigHeroNumbers";
	    src: url("../fonts/pulserifle.ttf");
	}


	.bighero-font {
		font-family: 'BigHero';
	}
	*/


	.i4ewOd-pzNkMb-haAclf {
	    background-color: red;
	}

	/* TEXT */

	p {
		margin-top: 0.0em;
	    margin-bottom: .5em;
	    font-size: 1.3em;
	    font-weight: 500;
	    line-height: 1.3em;

	}

	.p_lessmargin{
		margin-top: -0.5em;
	}


	h1, h2, h3, h4, h5, h6 {
		text-transform: none;
	}


	h1 {
		font-size: 2.2em;
		font-weight: 500;
		line-height: 1.2em;
		margin-bottom: 0.4em;
	}


	h2 {
		font-size: 1.5em;
		font-weight: 500;
		line-height: 1.2em;
		margin-bottom: 0.0em;
	}

	h3 {

		font-size: 2.5em;
		line-height: 1.3em;
		font-weight: 500;
		margin-top: 1.3em;
		margin-bottom: 1.3em;
		padding-left: 0.2em;
		background-color: #44717F;
		text-align: center;
		padding-bottom: .1em;
    	padding-top: .1em;
	}	



	.flowertop{

		opacity: 0.15;
		position: absolute;
		max-width: 30%;
		right:0;
		top:0;
		z-index: 1;

	}

	.flowerbottom{

		transform: rotate(180deg);
		opacity: 0.15;
		position: absolute;
		max-width: 30%;
		bottom:0;
		left:0;	
		z-index: 1;

	}

	.full_width_image {
		margin-top: 1em;
		width:100%;
		border:0.2em solid white;
	}	
	

	.left_image {
		height:20em;
		border-radius:1em;
		border:0.5em solid #44717F;
	}	


	/*Table from humanoids site*/
	/*
	.schedule .sched_time {
		min-width: 150px;
		text-align: center;
	}

	.schedule .sched_speaker { 
    	padding-right: 1.5em;
	}
	*/

	#footer {
		background-color: white;
		color: black;

		background-attachment: fixed;
		background-size: cover;
		background-image: linear-gradient(
                     rgba(20,20,20, .8), 
                     rgba(20,20,20, .8)),
                     url("../../images/bg/treeoflife.jpg");

	}	

	#footer a {
		text-decoration: none; /* plus hidden link in footer */
		color: white;
		font-size: 1.1em;
	}

	#footer a:hover {
		text-decoration: none; /* plus hidden link in footer */
		color: gray;
		font-size: 1.1em;
	}	


	/*Bulleted lists*/
	ol {
	    counter-reset: foo;
	    display: table;
	}

	ol > li {
	    counter-increment: foo;
	    display: table-row;
	}

	ol > li::before {
	    content: counter(foo) ".";
	    display: table-cell; /* aha! */
	    text-align: right;
	}

	ul.actions > li > * {
		width: 10%;
		/*margin: 0 !important;*/
	}

	ul{
		/*list-style-type: none;*/
		padding-left:1.5em;
		list-style-type: square;
	}

	ul li{
		padding-left:0;

		margin-top: 1em;
	    margin-bottom: 0em;
	    font-size: 1.3em;
	    font-weight: 500;
	    line-height: 1.3em;

	}





	body.landing {
		background-color: #EEE;
	}


	body, input, select, textarea {
		font-family: Helvetica, sans-serif;
		/*font-size: 13pt;
		font-weight: 400;
		line-height: 2em;*/
	}


	#colorbar {
		/* not always red */
		height: 1em;
		/*background-color: #d59f2c;*/

		background-color: #D1A098;
		position: relative;
		/*z-index: 0;*/
	}

	#colorbar2 {
		/* not always red */
		height: .7em;
		/*background-color: #d59f2c;*/

		background-color: #D1A098;
		position: relative;
		/*z-index: 0;*/
	}	

	#dates{
		text-align: center;		
	}

	.dates_landscape{

		display: inline-block;
    	width: 30%;
    	margin-left: 4%;
    	margin-right: 4%;
    	top: 0;
    	margin-top: 1em;
    	margin-bottom: 1em;	
	}	

	.anchor{
	  display: block;
	  height: 2em; /*same height as header*/
	  margin-top: -2em; /*same height as header*/
	  visibility: hidden;
	}

	.anchor2{
	  display: block;
	  height: 6em; /*same height as header*/
	  margin-top: -6em; /*same height as header*/
	  visibility: hidden;
	}


	#nav {
		background-color: #fff;
		color: #234e63;
		font-weight: 600;
	}


	.feature {

	/*padding: 2em 2em 2em 2em;*/
	margin-bottom: 3em;

	}


	/* The feature is an image with a text box next to it */ 
	.feature .image {
		display: inline-block;
		/*width: 260px;
		height: 260px;*/
		width: 30%;
		/*padding: .5em 0em 0em 0em;*/
		padding: 2em 2em 2em 2em;
	}

	.feature .image img {
		float: left;
		height:100%;
		width: 100%;
		/*width:100%;
		height:100%;*/
	}

	.feature .content {
		display: inline-block;
		clear: left;
		padding: 2em 2em 2em 0em;
		width: 69%;
		vertical-align: top;
	}





	table tbody tr {
		border-width: 0px;
	}

	.wrapper > .inner {
		width:90%;

	}

	.wrapper.style1 {
		background-color: white;
		color: white;

		/*padding: 8em 0 5em 0;*/
		color: rgba(255, 255, 255, 0.50);
	}	

	.wrapper.style1 h1, .wrapper.style1 h2, .wrapper.style1 h3, .wrapper.style1 h4, .wrapper.style1 h5, .wrapper.style1 h6 {
		color: black;
		background-color: white;
	}

	.wrapper.style1 strong, .wrapper.style1 b {
    	color: black;
	}



	.wrapper.style2 {
		background-color: black;
		color: #FFFFFF;

		padding: 4em 0 5em 0;
		background-attachment: fixed;


		/*background-position: 0px -390px;*/
		background-size: cover;
		/*background-image: url("../../images/bg/overlay_70.png"), url("../../images/bg/bg_1080.jpg");*/

		background-image: linear-gradient(
                     rgba(20,20,20, .7), 
                     rgba(20,20,20, .7)),
                     /*url("../../images/bg/bg_1080.jpg");*/
                     url("../../images/venues/koreahouse_1_low.jpg");


	}

	.wrapper.style2 a {
	    color: #51BAA4;
	    text-decoration: underline;
	}	

	.wrapper.style2 h1, .wrapper.style2 h2, .wrapper.style2 h3, .wrapper.style2 h4, .wrapper.style2 h5, .wrapper.style2 h6 {
		color: white;
	}

	.wrapper.style2 strong, .wrapper.style2 b {
    	color: white;
	}

	.wrapper.style3 {
		background-color: black;
		color: #FFFFFF;


		padding: 4em 0 5em 0;
		background-color: #101524;
		background-attachment: fixed;


		/*background-position: 0px -390px;*/
		background-size: cover;
		/*background-image: url("../../images/bg/overlay_70.png"), url("../../images/bg/bg_1080.jpg");*/

		background-image: linear-gradient(
                     rgba(20,20,20, .7), 
                     rgba(20,20,20, .7)),
                     /*url("../../images/bg/bg_1080.jpg");*/
                     url("../../images/bg/doublea_bg.jpg");
	}


	.wrapper.style3 a {
    	color: #51BAA4;
    	text-decoration: underline;
	}

	.wrapper.style3 h1, .wrapper.style3 h2, .wrapper.style3 h3, .wrapper.style3 h4, .wrapper.style3 h5, .wrapper.style3 h6 {
		color: white;
	}

	.wrapper.style3 strong, .wrapper.style3 b {
    	color: white;
	}	



	.wrapper.style4 {
		background-color: black;
		color: #FFFFFF;


		padding: 4em 0 5em 0;
		background-color: #101524;
		background-attachment: fixed;


		/*background-position: 0px -390px;*/
		background-size: cover;
		/*background-image: url("../../images/bg/overlay_70.png"), url("../../images/bg/bg_1080.jpg");*/

		background-image: linear-gradient(
                     rgba(20,20,20, .8), 
                     rgba(20,20,20, .8)),
                     url("../../images/bg/treeoflife.jpg");
	}


	.wrapper.style4 a {
    	color: #51BAA4;
    	text-decoration: underline;
	}

	.wrapper.style4 h1, .wrapper.style4 h2, .wrapper.style4 h3, .wrapper.style4 h4, .wrapper.style4 h5, .wrapper.style4 h6 {
		color: white;
	}

	.wrapper.style4 strong, .wrapper.style4 b {
    	color: white;
	}	


	.wrapper.style4 h3 {
		color: black;
	}









	#header {
		/*background: #07090c;*/
		background-position: center;

		height: 2.5em;
		line-height: 2.5em;

		right: 0;

		/*color: rgba(255, 255, 255, 0.75);
		cursor: default;
		height: 3.25em;
		left: 0;
		line-height: 3.25em;
		position: fixed;
		text-align: right;
		top: 0;
		width: 100%;
		z-index: 10001;*/
		font-weight: 700;
		/*height: 70px;*/
	}

	#header > .bighero-font {
		font-family: 'BigHero', 'BigHeroNumbers'; /*a name to be used later*/
		color: #fff;
		display: inline-block;
		height: inherit;
		left: 1.25em;
		line-height: inherit;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 0;
		/*font-smooth: 10em;*/
	}


	#header a {
		/*-moz-transition: color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out;*/
		/*color: #fff;*/
		/*color: #44717F;*/
		color: black;
		/*display: inline-block;
		margin-right: 1.25em;
		text-decoration: none;*/
	}	


	#header.alt {
		/*background-color: transparent;*/
		/*background-color: white;*/

		background-image: linear-gradient(to right, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 1.0));



		font-size: 1.25em;
		padding: 0em 2em;
		/*position: absolute;*/
		position: fixed;
		width:100%;
	}	

	#WSTitle {

		margin-top: 2em;
		margin-bottom: 1em;

	}

	#banner {

		padding: 8em 0 5em 0;
		background-color: #101524;
		color: rgba(255, 255, 255, 0.50);
		background-attachment: fixed;


		/*background-position: 0px -390px;*/
		background-size: cover;
		/*background-image: url("../../images/bg/overlay_70.png"), url("../../images/bg/bg_1080.jpg");*/

		background-image: linear-gradient(
                     rgba(20,20,20, .6), 
                     rgba(20,20,20, .6)),
                     url("../../images/bg/treeoflife.jpg");


  		/*background: radial-gradient(
  			ellipse, 
  			rgba(0,0,255,0.7),
  			rgba(0,0,0,0.0)), 
  		url("../../images/bg/bg1.jpg");*/


		/*background-size: cover;
		/*text-align: center;*/
	}	

	#banner .button.special {
		background-color: #ff0000;
		box-shadow: none;
		color: #fff !important;
		
		min-width: 8em;

		font-size: 2em;
		line-height: 3.2em;
		font-weight: 500;

		border-style: solid;
		border-radius: 0.5em;
		border-color: #ef9825;
		border-width: 3px;
	}	

	#banner p {
		/*color: #fff;
		font-size: 1.5em;
		margin-bottom: 1.75em;*/
		text-transform: none;
	}	

	#banner .bighero-font {
		/*color: #ef9825;*/
		color: #ffa630;
		font-size: 3em;
		margin: 0 0 0.2em 0;
		padding: 0;
	}

	.banner_text {

		max-width:900px;
		text-align: center;


	}


	.were_excited {
		max-height:6em;
		max-width: 100%;
		margin-bottom: -.5em;
		margin-top: 4em;
	}


	.were_excited_2lines{
		max-height:12em;
		max-width: 100%;
		margin-bottom: 1em;
		margin-top: 4em;
	}


	/* MEDIA QUERIES */

	@media screen and (max-width: 1280px) {


		.feature {
			margin-bottom: 4em;
		}

		.feature .content {
		}

		.logo_container2 {
	  		margin-top: 70px;
		}	

		.org_logos2 {
			/*width: 60%;*/
			width: 90%;
			
		}

		.banner_text {
			max-width:75%;
		}

		#banner {
    		padding: 11em 0 9em 0;
		}

		.dates_landscape{
	    	width: 40%;
		}	

	}




	@media screen and (max-width: 1024px) {

		.wrapper.style2 {
			background-attachment: scroll;
		}

		.wrapper.style3 {
			background-attachment: scroll;
		}

		.wrapper.style4 {
			background-attachment: scroll;
		}		

		#banner {
			background-attachment: scroll;
		}



	

	}


	@media screen and (max-width: 980px) {

		.feature.left, .feature.right {
			-moz-flex-direction: column;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column; 
		}

		.banner_text {
			max-width:85%;
		}


		.feature .image {
			width: 100%;
			padding: 0em 0em 2em 0em;
		}

		.feature .image img {
			width: 100%;	
		}

		.feature .content {
			width: 100%;
			padding: 0em 2em 2em 2em;

		}

		/*

		.wrapper.style1 h2 {
			font-size: 2.5em;
		}

		.wrapper.style2 h2 {
			font-size: 1.8em;
		}

		.wrapper.style3 h2 {
			font-size: 1.8em;
		}

		.wrapper.style4 h2 {
			font-size: 1.8em;
		}	

		*/					

	}

	@media screen and (max-width: 736px) {

		h3 {
			font-size: 2em;
		}

		.feature {
			margin-bottom: 2em;
		}

		.feature .content {
		}

		#banner p {
			line-height: 1.5em;
		}
		

	}

	@media screen and (max-width: 480px) {	

		.banner_text {
			max-width:95%;
		}

		#banner {
			padding: 5em 0em 3em 0em;
			/*background: url("images/overlay.png"), url("../../images/bg/birmingham4_narrow.jpg") 0 0 / cover ;*/
		}	

		.dates_landscape{
	    	width: 60%;
    	}	

		h3 {
			font-size: 1.5em;
		}

		.left_image {
			width: 100%
		}	


		.feature .content {
			padding: 0em 1em 1em 1em;
		}


		#header.alt {
			/*padding: 0.5em 1em;*/
			padding: 0.0em .8em;
		}

		p{
			font-size: 1em;
		}




		/*Table*/
		.schedule .sched_time {width: 100%; float:left; padding-bottom: 0; text-align: left;}
		.schedule .sched_speaker { float:left; padding-top: 0;}
	}

	@media screen and (max-width: 380px) {	


		p{
			font-size: .8em;
		}

	}
