@charset "UTF-8";
/* CSS Document */

/*
font-family: 'Aguafina Script', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Mr Dafoe', cursive;
font-family: 'Give You Glory', cursive;
font-family: 'Mrs Sheppards', cursive;
*/



html {
  height: 100%;
  margin: 0px;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;

  /*font-size: 200%;*/ 
  font-size: 1.6em;
}


body {
  height: 100%;
  width: 100%;
  margin: 0;
  
}

a {
  color: #44717F;
}


#outer {
	display: flex;
	width: 100%;
	height: 100%;
}

#save_the_date{

    background: radial-gradient(
    	rgba(20,20,20, .9), 
    	rgba(20,20,20, .0)),
    	url( images/bg/bg.jpg ) no-repeat center center fixed;                 

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


#divider{
    background: #D1A098;
}	

#dates{
    background: white;
}

#contactus_link{
	position: absolute;
  	right: 0;
  	bottom: 1%;
  	padding-right: 10px;
  	/*font-size: 2.0em;*/
}

#contact_container{
	display: table;
	width: 100%;
    height: 100%;
    /*This container pretends to be a table so that
    contact_table can be vertically centered within the one cell */
}

#contact_table{
	display: table-cell;
  	vertical-align: middle;
	/*Div around the table, content sits in middle of parent cell */
}

table{
	margin: auto; 
	/*For hizontal center*/

}


.contact_icon {

	height:4em;
	width: auto;
	padding: .5em;
	padding-right: .8em;

}



/* ===-= DESKTOP =-=== */
@media (orientation: landscape) {

	#outer {
		flex-flow: row;
	}

	#save_the_date{
	    width:63%;
	}

	#divider{
	    width:1.2%;
	}	

	#dates{
	    /*flex-grow : 1;*/
	    width:35.8%;
	    /*min-width: 450px;*/
	}

	.save_the_date_text{
		width: 85%;
		height: 90%;
		/*padding-top: 100px;
		padding-bottom: 100px;*/
		display: block;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 1.0;
	}

	.world_tour_text{
		width: 85%;
		height: 90%;
		display: block;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 1.0;
	}		

}


/* ===-= MOBILE =-=== */
@media (orientation: portrait) {

	#outer {
		flex-flow: column;
	}

	#save_the_date{
	    height:35%;
	}

	#divider{
	    height:1.2%;
	}	

	#dates{
		height:63.8%;
	    /*flex-grow : 1;*/
	}

	.save_the_date_text{
		width: 85%;
		height: 90%;
		/*padding-top: 100px;
		padding-bottom: 100px;*/
		display: block;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 1.0;
	}

	.world_tour_text{
		
		height: 90%;
		display: block;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 1.0;
	}		

}

@media (max-width: 500px) and (orientation: portrait)  {

	html {
	  font-size: 1.0em;
	}

	/*#contactus_link{
		font-size: 1.0em;
	}*/
}

@media (max-width: 350px) and (orientation: portrait)  {

	html {
	  font-size: 1.0em;
	}	

	/*#contactus_link{
		font-size: 1.0em;
	}*/		
  
}
